/* http://fakewebsite.com/this/should/not/appear/in/the/css_map/
   v0.0 | 2039248343#$%^&*()
   License: Fake License
*/

#secondary-dummy-id {
  display: none;
}

.secondary-dummy-class-1 {
  display: none;
}