/* http://fakewebsite.com/this/should/not/appear/in/the/css_map/
   v0.0 | 2039248343#$%^&*()
   License: Fake License
*/

.dummy-class-1 {
  display: none;
}

.dummy-class-2 {
  display: none;
}

// Spoof and a goof

.dummy-class-3 {
  display: none;
}

blockquote {
  display: block;
}

.dummy-class-4 {
  display: none;
}

#dummy-id {
  display: none;
}

// the next selector should be in the map
.dummy-class-after-single-line-comment {
  display: block;
}

/*
  A great comment
*/
.dummy-class-after-multi-line-comment {
  display: block;
}